#loading-img {
    background: url(../images/loading.gif) center center no-repeat;
    height: 100%;
    z-index: 20;
}
.overlay {
    background: #e9e9e9;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    height: 100%;
    z-index: 99;
}
.delete {
    height: 50px;
    width: 50px;
    float: left;
}
.clschildgenderdtl .position {
    position: relative;
    float: left;
    width: 100%;
}
.meetHost_wrp .owl-carousel .owl-stage-outer {
    overflow: hidden;
    position: relative;
    text-align: center;
    transform: translate3d(0px, 0px, 0px);
    width: 101%;
}
.meetHost_wrp .owl-stage {
    display: inline-block;
}
#student-reg .position {
}
.clsstudentprofessional {
    color: #d82929;
    content: "*";
    display: block;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    right: 30%;
    top: 0;
}
.transportSelect {
    background: url(../images/transport-hover.png) no-repeat left top;
    width: 55px;
    height: 55px;
}
.foodSelect {
    background: url(../images/food-hover.png) no-repeat left top;
    width: 55px;
    height: 55px;
}
.shoppingSelect {
    background: url(../images/shopping-hover.png) no-repeat left top;
    width: 55px;
    height: 55px;
}
.parksSelect {
    background: url(../images/parks-hover.png) no-repeat left top;
    width: 55px;
    height: 55px;
}
.fitnesSelect {
    background: url(../images/fitness-hover.png) no-repeat left top;
    width: 55px;
    height: 55px;
}
.pop-close, .price-pop-close, .all-close {
    color: #fff;
    display: block;
    font-size: 24px;
    padding: 10px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    transform: scale(1.2, 1);
    z-index: 10;
    top: 3px;
}
.popupclose {
    top: 50%;
    transform: translateY(-50%)
}
.radioprop {
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 2px;
}
.more-bedroom-detail .owlPrev {
    background: url(../images/arriw-prev1.png) no-repeat center center;
    height: 18%;
    width: 15%;
    position: absolute;
    left: 0;
    top: 82%;
    display: block;
    z-index: 100;
    background-size: 14px
}
.more-bedroom-detail .owlNext {
    background: url(../images/arriw-next1.png) no-repeat center center;
    height: 18%;
    width: 15%;
    position: absolute;
    right: 0;
    top: 82%;
    display: block;
    z-index: 100;
    background-size: 14px
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
#frmhomesearch #destination, #frmhomesearch #fromDatePicker, #frmhomesearch #toDatePicker {
    z-index: 0;
}
.clsdiviframe {
    width: 400px;
    max-height: 100%;
    margin-left: 38.5%;
    margin-top: 17%;
}
#sign-in .popupclose {
    margin-top: 10px;
    padding-right: 0px;
    color: #fe7336;
}
#sign-in {
    width: 100%;
    position: relative;
}
#sign-in .signin-container {
    height: 100%;
}
#sign-in .checkMe {
    float: left;
    line-height: 26px;
    margin: 10px 0;
    width: 50%;
}
#sign-in .dontAccounttxt {
    float: left;
    margin-bottom: 5px;
    width: 50%;
}
#sign-in .forgotp {
    float: left;
    text-align: right;
    width: 50%;
}
#sign-in .popupclose {
    margin-top: 10px;
    padding-right: 0px;
    color: #fe7336;
    display: none;
}
.signin-toggle {
    position: relative !important;
}
#sign-in .loaderdiv {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 99999;
    padding-top: 45%;
    padding-left: calc(50% - 50px);
}
.clsFinalResult {
    position: relative !important;
}
.Listingloaderdiv {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 99999;
    padding-top: 10%;
    padding-left: calc(50% - 50px);
}
.blurdiv {
    /*-webkit-filter: blur(5px); 
    -moz-filter: blur(5px); 
    -o-filter: blur(5px); 
    -ms-filter: blur(5px); 
    filter: blur(5px);*/
    opacity: 0.6;
    background-color: #f1f1f1;
}
.authenticate_loading {
    width: 72px;
    margin-left: calc(50% - 36px);
    margin-top: 45%;
}
#authenticate .popupclose {
    margin-top: 0px !important;
    color: #fe7336;
}
#search.popup-content {
    /*background-color: rgba(255, 255, 255, 0.97);
    margin: 8% auto 0;
    max-height: 80%; */
    max-width: 880px !important;
    min-height: 1px !important;
    /*overflow-y: auto;
    padding: 0;
    position: relative;
    width: 100%; */
    z-index: 99;
}
#search .text-title {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    margin: 50px 0 30px;
    padding: 0 10px;
    text-align: center;
}
.searchpop_act {
    padding-top: 10px;
    padding-bottom: 10px;
}
#search .fullwidth {
    width: 100%;
    z-index: 0;
}
#search .fullwidth .firstdivtop {
}
#search .fullwidth .seconddivtop {
    width: 4%;
}
#search .fullwidth .thirddivtop {
    width: 48%;
    border-bottom: 2px solid #d6d6d6;
    padding-bottom: 9px
}
#search .fullwidth .firstdiv {
    margin-top: 2%;
    width: 48%;
}
#search .fullwidth .seconddiv {
    margin-top: 2%;
    width: 4%;
}
#search .fullwidth .thirddiv {
    margin-top: 2%;
    width: 48%;
}
.search_selection {
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 30px;
}
.search_selection em {
    font-style: normal;
    font-size: 18px;
    text-transform: capitalize;
    display: block;
    margin-left: 40px;
    font-weight: 600;
}
.search_selection em small {
    font-size: 15px;
    font-weight: 300;
    display: block;
    text-transform: none;
}
.search_selection label {
    margin: 0;
    padding: 20px;
    display: block;
}
.search_selection label.not_selected * {
    color: #d7d7d7
}
.search_selection label.no_small {
    padding-bottom: 44px;
}
.search_selection label.no_small em {
    padding-top: 2px;
}
.search_selection input[type="radio"] + label span {
    float: left;
    width: 25px;
    height: 25px;
    border-width: 5px;
}
.form_grp {
    display: table;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
.form_grp > div {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
}
.form_grp > div * {
    font-size: 15px;
}
.form_grp > div.lbl {
    width: 1%;
    white-space: nowrap;
    padding: 17px 15px 13px 15px;
    padding-right: 0px;
}
.form_grp > div.lbl.w190 {
    width: 190px;
    font-weight: 400;
    font-size: 15px;
}
.form_grp > div.lbl.w80 {
    width: 90px;
    font-weight: 400;
    font-size: 15px;
}
.form_grp input[type="radio"] + label span {
    margin-top: -2px;
}
.form_grp .radio-text {
    margin-bottom: 0;
    padding: 4px 0 0 7px;
}
#search .fullwidth .firstdivtop .firsttitle {
    width: 89%;
    float: right;
    margin-top: -6px;
    margin-left: -20px;
}
#search .fullwidth .seconddivtop .firsttitle {
    width: 89%;
    float: right;
    margin-top: -6px;
    margin-left: -20px;
}
#search .fullwidth .thirddivtop .firsttitle {
    width: 89%;
    float: right;
    margin-top: -6px;
    margin-left: -20px;
}
#search .fullwidth .firstdivtop .secondtitle {
    font-size: 11px;
    padding-left: 32px;
    font: #d6d6d6;
}
#search .fullwidth .thirddivtop .secondtitle {
    font-size: 11px;
    padding-left: 32px;
    font: #d6d6d6;
}
#search .clsprivate {
    margin-top: 0px;
}
#search .pop-close {
    color: #FE7336;
}
.messageTxt .tRight {
    float: right !important;
    text-align: right !important;
}
.messageBox .clsMessageBlock .clschatright {
    float: right;
}
.messageBox .clsMessageBlock .clschatrighttext {
    float: right;
}
/*
.messageBox .clsMessageBlock .col-md-10 {
    width: 100% !important;
}*/

/*
.profile-toggle .my-profile {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: block;
    padding: 0 10px;
    position: absolute;
    right: 90px !important;
    top: 41px;
    width: 210px;
}


.profile-setting::before { 
    background: none;
    border: none; / * 2px solid #9acced; * /
    border-radius: none; / * 50%; * /
    content: "";
    display: block;
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}
*/
.error_container {
    position: relative !important;
    display: table !important;
    table-layout: fixed !important;
    width: 100% !important;
    margin-bottom: 10px;
}
.error_container_inner {
    height: 100% !important;
    width: 48px !important;
    display: table-cell !important;
    vertical-align: top !important;
    border: 1px solid #d6d6d6 !important;
    background-color: #ffff !important;
    border-right: none !important;
    border-radius: 8px 0 0 8px !important;
    /* padding: 16px 0 16px 12px !important; */
    border-color: #d6d6d6 !important;
}
.error_message {
    display: table-cell !important;
    vertical-align: top !important;
    width: 100% !important;
    background-color: #ffffff !important;
    border: 1px solid #DBDBDB !important;
    border-left: none !important;
    border-radius: 0 8px 8px 0 !important;
    padding: 5px 0px !important;
    text-align: left;
}
.forgotpassword {
    font-weight: 600;
    color: #696969;
    word-wrap: break-word;
    font-size: 17px;
    line-height: 34px;
}
.signin-container hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.forgotpassword-inner {
    color: #696969;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 15px;
    font-weight: 300;
}
#invalidauth {
    width: 100%;
    /*height: 440px;*/
    position: relative;
}
.popup-content-invalidauth {
    background-color: rgba(255, 255, 255, 0.97);
    left: 50%;
    max-height: 580px;
    max-width: 370px;
    /* min-height: 350px; */
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#invalidauth .pop-close {
    color: #FE7336;
    display: block;
    font-size: 25px;
    padding: 10px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    transform: scale(1.2, 1);
    z-index: 10;
    margin-top: 3%;
}
.move-in-field input, .move-out-field input {
}
#frmsearch .move-in-field input, #frmsearch .move-out-field input {
    padding-left: 45px !important;
}
.clsfromdatepicker {
/*width: 300px !important;*/
}
.clsnorecordhostlist {
    font-size: 20px;
    padding-top: 25px;
    text-align: center;
    width: 100%;
}
.profiledropdown .profile-setting::before {
    /* background: rgba(0, 0, 0, 0) url("/uploads/host/host-13.png") no-repeat scroll left top / 50px auto; */
    background: none !important;
    border: 2px solid #9acced;
    border-radius: 50%;
    content: "";
    display: block;
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}
.daterangepicker {
    box-shadow: 0 13px 28px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee
}
.daterangepicker .monthselect {
    width: 30%;
    border-radius: 5px;
}
.daterangepicker .yearselect {
    width: 30%;
    border-radius: 5px;
}
.marker-price .marker-price {
    padding: 7px 7px;
    background: #fe7336;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    position: relative;
    white-space: nowrap;
}
.marker-price .marker-price:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 0;
    border-color: transparent #fe7336 transparent transparent;
    position: absolute;
    bottom: -10px;
    left: 3px;
    content: "";
}
.marker-price .marker-price:before {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.2);
    content: "";
    z-index: -1;
    border-radius: 85px;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.4);
    transform: skew(-36deg);
}
.marker-price .marker-price:hover {
    background: #3498db;
}
.marker-price .marker-price:hover::after {
    border-color: transparent #3498db transparent transparent;
}
.clsgenderpadding {
    padding-right: 75px;
}
.goog-te-banner-frame.skiptranslate {
    display: none !important
}
.goog-te-menu-frame {
    max-width: 100% !important
}
.goog-te-menu2 {
    max-width: 100% !important;
    overflow-x: scroll !important;
    box-sizing: border-box !important;
    height: auto !important
}
/* Signin iframe */
#signinBox {
    display: none;
}
#sign-in-forgot-pwd {
    display: none;
}
