#feedback {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 265px;
	margin-left: -3px;
	margin-bottom: -3px;
	z-index:4;
}
#feedback .btn{line-height: 40px; height: 40px;}
#feedback-form {
	float: left;
	width: 300px;
	height: 100%;
	z-index: 1000;
	padding-left: 10px;
	padding-right: 10px;
	background-clip: 'padding-box';
	border: 1px solid rgba(0,0,0,.2);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
#feedback-form .form-control{
	height: 40px;
    border: 1px solid #d6d6d6;
    width: 100%;
    padding:10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 300;
}
#feedback-form textarea{
	height: 75px!important;
}
#feedback-tab {
	float: right;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	width: 120px;
	height: 40px;
	background-color: #fe7336;
	margin-top: 60px;
	margin-left: -40px;
	padding-top: 10px;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	font-weight: 600;
}

#feedback-tab:hover {
	background-color: #fe7336;
}

#feedback-form textarea {
	resize: none;
}

@media screen and (max-width: 380px) {
	#feedback-form{width: 265px;}
}
@media screen and (max-width: 340px) {
	#feedback-form{width: 240px;}
}