.footer-nav h6,
.footer-contact h6 {
  color: #4B5C74;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

.footer-nav ul li a {
  font-size: 16px;
  color: #4B5C74;
  font-weight: 400;
  line-height: 16px;
  float: none;
  opacity: 0.8;
}

.footer-nav ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-logo {
  width: 160px;
  margin: -15px 0px 0px;
  color: #666;
}

footer ul.list-social-icons {
  margin: 0px;
}

footer ul.list-social-icons li a {
  background-color: #666;
  border-color: #666;
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease;
}

footer ul.list-social-icons li a i {
  color: #fff;
}

footer ul.list-social-icons li a:hover i,
footer ul.list-social-icons li a:focus i {
  color: #666;
}


footer .copyright {
  margin: 45px 0px 0px;
  text-align: center;
  font-size: 16px;
  color: #4B5C74;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.2;
}

footer .p-address {
  font-size: 16px;
  color: #4B5C74;
  font-weight: 400;
  line-height: 23px;
  opacity: 0.8;
}


footer ul.list-social-icons li {
  margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  .footer-logo {
    margin-bottom: 40px;
  }

  footer ul.list-social-icons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  footer .tablet_margin:last-child {
    margin-bottom: 0px;
  }

  footer .copyright {
    margin-top: 0px;
  }
}
