/** FONTS **/
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Bold');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Medium');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-SemiBold');
    font-weight: 600;
    font-style: normal;
}

/** CORE **/
html,
body {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
}

h2.section-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  color: #4B5C74;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/** SECTION HEADER/HERO **/
.section-header {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro h1 {
  font-size: 43px;
  line-height: 60px;
  margin: 0px 0px 10px;
}

.intro p {
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 35px;
  font-weight: 600;
}

.main-search-full {
  padding: 0px;
}

/** SECTION INFO **/
.section-info h2 {
  margin: 0px 0px 40px;
}

.section-info .feature-block {
  background-color: transparent;
}

.section-info .feature-block h1 {
  color: #4B5C74;
  margin-bottom: 0px;
  font-weight: 600;
}

.section-info .feature-block p {
  color: #798DA9;
  font-size: 20px;
  line-height: 28px;
  margin: 0px;
  font-weight: 400;
}

.section-info .img-hosts {
  width: 98px;
}

.section-info .img-location {
  width: 111px;
}

.section-info .img-met {
  width: 69px;
}

/** SECTION HOW IT WORKS **/
.section-how-it-works h2 {
  margin: 0px 0px 10px;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  color: #4B5C74;
}

.section-how-it-works .text-detail {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  color: #4B5C74;
  margin: 0px 0px 20px;
}

.section-how-it-works .how_it_work_row .feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.section-how-it-works .how_it_work_row .feature-container:nth-child(2) {
  margin-left: 70px;
}

.section-how-it-works .how_it_work_row .feature-container:last-child {
  margin-left: 140px;
}

.section-how-it-works .how_it_work_row .feature-block {
  position: relative;
  -webkit-box-shadow: 0px 6px 11px rgba(71,86,106,0.1);
          box-shadow: 0px 6px 11px rgba(71,86,106,0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: none;
  width: 450px;
  min-height: auto!important;
  padding-left: 40px;
}

.section-how-it-works .how_it_work_row .feature-block:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 100%;
  background-color: #FF8155;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.section-how-it-works .how_it_work_row .feature-block:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #FF8155;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);

}

.section-how-it-works .icon-steps-container {
  margin-right: 20px;
}

.section-how-it-works .icon-steps-container .icon-steps{
  margin: 0px;
  background-color: #FF8155;
  background-image: linear-gradient(-135deg, #FF8155 0%, #FFB242 100%);
}

.section-how-it-works .how_content h3,
.section-how-it-works .how_content p {
  text-align: left
}

.section-how-it-works .how_content h3 {
  margin: 0px 0px 5px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #4B5C74;
}

.section-how-it-works .how_content p {
  margin: 0px;
  font-size: 20px !important;
  line-height: 28px;
  font-weight: 400;
  color: #798DA9;
}

.section-how-it-works .step-circle {
  background-color: #FF8155;
  color: #fff;
  margin-right: 30px;
  padding: 4px;
  border-radius: 50%;
  font-size: 22px;
  font-weight: 600;
  width: 35px;
  height: 35px;
}

.section-how-it-works #works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-how-it-works .img-step-1 {
  width: 31px;
}

.section-how-it-works .img-step-2 {
  width: 37px;
}

.section-how-it-works .img-step-3 {
  width: 43px;
}

/** SECTION TESTIMONIALS **/
.section-testimonials {
  padding-top: 50px;
}

.section-testimonials .section-title {
  margin-bottom: 45px;
}

.section-testimonials img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.section-testimonials .testimonials {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 13px rgba(71,86,106,0.12);
  padding: 30px;
  width: 560px;
}

.section-testimonials .testimonials-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #4B5C74;
  text-align: left;
  margin: 0px;
}

.section-testimonials .testimonials-country {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #798DA9;
  text-align: left;
  margin: 5px 0px;
}

.section-testimonials .testimonials-hosted_by {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #798DA9;
  text-align: left;
  margin: 0px;
}

.section-testimonials .testimonials-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #798DA9;
  text-align: left;
  margin: 20px 0px 0px;
}

.section-testimonials .slick-slide:not(.slick-current) {
  opacity: 0.6;
}

.section-testimonials .slick-slide:not(.slick-current) .testimonials-name {
  font-size: 20px;
}

.section-testimonials .slick-slide:not(.slick-current) .testimonials-country {
  font-size: 18px;
  margin: 0px;
}

.section-testimonials .slick-slide:not(.slick-current) .testimonials-hosted_by {
  font-size: 16px;
}

.section-testimonials .slick-slide:not(.slick-current) .testimonials-text {
  font-size: 15px;
}

.section-testimonials .slick-slide:not(.slick-current) img {
  width: 45px;
  height: 45px;
}

.section-testimonials .slick-carousel {
  padding: 0px 50px;
}

.section-testimonials .slick-track {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}

.section-testimonials .slick-slide.slick-current {
  z-index: 2;
  position: relative;
  margin: 0px -20px;
}

.section-testimonials .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
}

.section-testimonials .slick-arrow.slick-prev {
  left: 0;
  background-image: url('../images/nextpage.png');
  transform: rotate(180deg);
}

.section-testimonials .slick-arrow.slick-next {
  right: 0;
  background-image: url('../images/nextpage.png');
}

/** SECTION PARTNERSHIPS **/


/** SECTION BLUE **/
.section_blue {
  padding-top: 130px;
  padding-bottom: 180px;
  background-image: url("../images/section_blue_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

.section_blue h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  margin: 0px;
}

.section_blue h1 span {
  font-weight: 500;
  color: #fff;
}

.section_blue .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 12px 35px;
  margin: 35px 0px 0px;
}

/** BUBLLE CONTAINER **/
#container {
  background-image: url('../images/bubble_bg.svg');
  background-repeat: no-repeat;
  background-position: center 35%;
}

/**
** MEDIA QUERIES
**/

@media only screen and (min-width: 993px) {
  .feature-block p {
    margin: 0px 5px;
  }
  .section-info h2 {
    margin: 0px 0px 100px;
  }
}

@media only screen and (min-width: 1201px) {
  .section-info h2 {
    margin: 0px 120px 160px;
  }

  .feature-block p {
    margin: 0px 10px;
  }

  .section-partnerships .section-title {
    margin: 0 40px;
  }
}

@media (max-width: 1200px) and (min-width: 993px) {
  .feature-block h1 {
    min-height: 52px;
  }
}
