/** CORE **/
html,
body {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
}

.clsideal-host header {
  padding-bottom: 20px;
  height: auto;
  background-color: #1EA0F2;
}

/** SECTION HEADER **/
.clsideal-host .section-header {
  height: 100vh;
  background-image: url('../images/ideal_host_header_bg.jpg');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
    justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.clsideal-host .section-header h1 {
  font-size: 43px;
  font-weight: 600;
  line-height: 43px;
  margin: 0px;
  color: #fff;
}

/** SECTION IDEAL HOST **/

.section-ideal-host h2,
.section-ideal-host p {
  text-align: left;
}

.section-ideal-host h2 {
  margin: 0px 0px 20px;
  color: #4B5C74;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.section-ideal-host p {
  color: #798DA9;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.clsideal-host .btn-apply {
  margin: 50px 0px 30px;
  padding: 15px 80px;
  font-size: 20px;
  font-weight: 500;
  width: 280px;
}

.clsideal-host .host-testimonial {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 13px rgba(71,86,106,0.2);
          box-shadow: 0px 0px 13px rgba(71,86,106,0.2);
  padding: 20px;
}

.clsideal-host .host-testimonial-intro {
  margin-top: 30px;
}

.clsideal-host ul.row {
  list-style: none;
  margin-top: 40px;
  margin-bottom: 0px;
  padding: 0px;
}

.clsideal-host ul.row li {
  margin-bottom: 30px;
}

.clsideal-host .host-testimonial img {
  width: 120px;
  height: 120px;
  margin: 0 auto 10px;
  border-radius: 50%;
  display: block;
}

.clsideal-host .host-testimonial h3 {
  font-size: 24px;
  line-height: 24px;
  margin: 0px 0px 10px;
  text-align: center;
}

.clsideal-host .host-testimonial p {
  color: #798DA9;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0px;
}
