/** CORE **/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/** SEARCH RESULTS PAGE **/

.clssearch-result .jq-dropdown-menu input[type=radio] {
  display: block;
  z-index: 2;
}

.clssearch-result .jq-dropdown-menu .shared-options_hidden {
  display: none;
}

.clssearch-result .panel-listing.highlight{
  box-shadow: 0px 0px 34px rgba(0, 158, 225, 0.6);
}

/** INFO WINDOW **/

.clssearch-result .info-window {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 180px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 34px rgba(0,0,0, 0.1);
          box-shadow: 1px 1px 34px rgba(0,0,0, 0.1);
}

.clssearch-result .info-window.show {
  display: block;
}

.clssearch-result .info-window .d-flex {
  margin-bottom: 20px;
}

.clssearch-result .info-window h1 {
  color: #009EE1;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  margin: 0px;
}

.clssearch-result .info-window img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.clssearch-result .info-window .info-room-info:not(:last-child) {
  margin-bottom: 15px;
}

.clssearch-result .info-window p {
  font-size: 13px;
  line-height: 13px;
  margin: 0px;
}

.clssearch-result .info-window .info-room-name {
  font-weight: 600;
  margin-bottom: 5px;
}

.panel.panel-payment {
  float: none;
}
